*.[od]
*.bak
*.ddk
*.edk
*.lst
*.pbi
*.browse
*.iex
*.htm
*.sct
*.map
*.xcl
*.tra
*.dep
*.cout
*.pbd
*.lnp
*.mpf
*.obj
*.omf
*.pld
*.tmp
*.__i
*.cff
*.Administrator
*.crun
*.cspy
*.dnx
*.linf
*.hex
*.out
*.sim
